/*
Author: Blake Prescott
Date: 2/15/24
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #ffebcc;
}

/* Style rule for images */
img	{
	max-width: 100%;
	display: block;
}

/* Style rules for mobile viewport */

/* Hide tab-desk and desktop */
.tablet-desktop {
	display: none;
}

.desktop{
	display: none;
}

/* Style rules for header content */
header {
	text-align: center;
	font-size: 1.5em;
	color: #804d00;
}

header img{
	display: none;
}

header h1 {
	font-family: 'Barlow Condensed';
}

/* Style rules for navigation area */
nav {
	background-color: #ffad33;
	font-family: 'Barlow Condensed';
}

nav ul {
	list-style-type: none;
	margin: 0;
	text-align: center;
}

nav li {
	display: block;
	font-size: 2em;
	border-top: 1px solid #4f2b07;
}

nav li a {
	display: block;
	color: #804d00; 
	text-align: center;
	padding: 0.25em 1em;
	text-decoration: none;
}

nav li:last-child{
	border-bottom: 1px solid #4f2b07;
}
/* Style rules for main content */
main {
	font-family: 'Montserrat', Arial;
	padding: 2%;
	color: #804d00;
}
.container {
	width: 95%;
	margin: auto;
}

#menu {
	margin: auto;
	padding: 1em;
	border: 2px solid #804d00;
	border-radius: 10px;
	width: 90%;
	background-color: #ecd9c6;
	font-size: 1.5em;
	color: #804d00;
}

#menu h3{
	margin: 0em 0em 1em 0em;
}
#menu ul{
	list-style-type: none;
}

#menu_disclaimers{
	width: 80%;
	margin: auto;
}

#about_page_title{
	text-align: center;
	margin-bottom: .5em;
}
.price{
	float: right;
}

.emphasis{
	font-weight: bold;
	color: #804d00;
	font-size: 1.25em;
}

.cat_pictures{
	border-radius: 2.5%;
}

/* Style rules for footer content */
footer {
	/*background-color: #b36b00;*/
	font-family: 'Montserrat', Arial;
}

footer p {
	color: #000;
	padding: 0 1em;
	text-align: center;
	font-size: 0.75em;
}

footer p a{
	text-decoration: none;
	color: #000;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print{

	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: none;
	}

	/* Tablet Viewport: Style rule for header */
	header {
		margin: 0%;
		padding: 0%;
		text-align: left;
		background-color: #ffc358;
	}

	header img{
		width: 15%;
		display: inline-block;
		margin-bottom: none;
	}

	header h1 {
		display: none;
	}

	/* Tablet Viewport: Style rules for nav area */
	nav {
		border-top: solid 3px #fff;
		border-bottom: solid 3px #fff;
	}
	nav ul{
		text-align: right;
	}

	nav li {
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
	}

	nav li:last-child {
		border-right: none;
		border-bottom: none;
	}

	nav li a {
		padding: 0.25em 0.75em;
	}

	/* Tablet Viewport: Style rules for main content area */
	main{
		padding-top: 2%;
	}
	main ul {
		margin: 0 0 4% 0%;
	}

	#menu_coffee_image {
		width: 95%;
		border-radius:50%;
		margin: 2.5% auto;
	}

	#about_artemis, #about_apollo {
		width: 45%;
		display: inline-block;
		vertical-align: top;
	}

}

/* Media query for Desktop Viewport */
@media screen and (min-width: 1015px), print {

	/* Desktop Viewport: Show desktop class, hide mobile class */
	.desktop {
		display: block;
	}

	/* Desktop Viewport: Style rule for header */
	header img{
		width: 10%;
		display: inline-block;
		margin-bottom: none;
	}
	/* Desktop Viewport: Style rules for nav area */

	/* Desktop Viewport: Style rules for main content */
	main{
		padding: 1%;
	}

	main img{

	}

	#menu_coffee_image {
		width: 95%;
		border-radius:10px;
		margin: 2.5% auto;
	}

	#about_artemis, #about_apollo, #chefs {
		width: 32%;
		display: inline-block;
		vertical-align: top;
	}
	/* Media Query for Large Desktop Viewports */
	@media screen and (min-width: 1921px) {

		#container {
			width: 1920px;
			margin: 0 auto;
		}
	}
}

/* Media Query for Print */
@media print {

	body {
		background-color: #fff;
		color: #000;
	}

}